<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane ng-controller="TarefaCtrl">
      <ion-header-bar class="bar-energized">
        <h1 class="title">Minhas Tarefas</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <form ng-submit="adicionar()" class="item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-model="nova.nome" placeholder="Adicionar uma tarefa">
            </label>
            <button type="submit" class="button button-small">Adicionar</button>
          </form>
          <ion-checkbox ng-model="tarefa.feito" ng-repeat="tarefa in tarefas" ng-class="{riscado:tarefa.feito}">{{tarefa.nome}}</ion-checkbox>
        </ion-list>
      </ion-content>
      <ion-footer-bar class="bar-light" ng-if="tarefas.length > 0">
        <button class="button" ng-click="limpar()">Limpar Completas</button>
      </ion-footer-bar>
    </ion-pane>
  </body>
</html>
